<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977155662394-e0sbhfnme5p47cdf7bjl6k9u0e8gphlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977155662394-e0sbhfnme5p47cdf7bjl6k9u0e8gphlu</string>
	<key>API_KEY</key>
	<string>AIzaSyD_O1TQueiDbfWRoyTvan-A3_po15nCkcY</string>
	<key>GCM_SENDER_ID</key>
	<string>977155662394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>peerbits.ChatAppiOS</string>
	<key>PROJECT_ID</key>
	<string>chatappios-5f7e1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappios-5f7e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977155662394:ios:f013b37c01cb0e403ecb03</string>
</dict>
</plist>